{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled tthough the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'provetecmar',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('claro/classy.node') }}
{{ attach_library('core_provetecmar/quote_node') }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a thef="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
    

  
    
  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass(['node__content','quote']) }}>
    <div class="quote-header">
      <div class="quote-actions">
        {% if node.moderation_state.value == 'offer_ready' or node.moderation_state.value == 'published' %}
            <a href="/quote/download/{{ node.nid.value }}/pdf" target="_blank" class="quote-actions--pdf">
              <svg fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550.801 550.801" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M160.381,282.225c0-14.832-10.299-23.684-28.474-23.684c-7.414,0-12.437,0.715-15.071,1.432V307.6 c3.114,0.707,6.942,0.949,12.192,0.949C148.419,308.549,160.381,298.74,160.381,282.225z"></path> <path d="M272.875,259.019c-8.145,0-13.397,0.717-16.519,1.435v105.523c3.116,0.729,8.142,0.729,12.69,0.729 c33.017,0.231,54.554-17.946,54.554-56.474C323.842,276.719,304.215,259.019,272.875,259.019z"></path> <path d="M488.426,197.019H475.2v-63.816c0-0.398-0.063-0.799-0.116-1.202c-0.021-2.534-0.827-5.023-2.562-6.995L366.325,3.694 c-0.032-0.031-0.063-0.042-0.085-0.076c-0.633-0.707-1.371-1.295-2.151-1.804c-0.231-0.155-0.464-0.285-0.706-0.419 c-0.676-0.369-1.393-0.675-2.131-0.896c-0.2-0.056-0.38-0.138-0.58-0.19C359.87,0.119,359.037,0,358.193,0H97.2 c-11.918,0-21.6,9.693-21.6,21.601v175.413H62.377c-17.049,0-30.873,13.818-30.873,30.873v160.545 c0,17.043,13.824,30.87,30.873,30.87h13.224V529.2c0,11.907,9.682,21.601,21.6,21.601h356.4c11.907,0,21.6-9.693,21.6-21.601 V419.302h13.226c17.044,0,30.871-13.827,30.871-30.87v-160.54C519.297,210.838,505.47,197.019,488.426,197.019z M97.2,21.605 h250.193v110.513c0,5.967,4.841,10.8,10.8,10.8h95.407v54.108H97.2V21.605z M362.359,309.023c0,30.876-11.243,52.165-26.82,65.333 c-16.971,14.117-42.82,20.814-74.396,20.814c-18.9,0-32.297-1.197-41.401-2.389V234.365c13.399-2.149,30.878-3.346,49.304-3.346 c30.612,0,50.478,5.508,66.039,17.226C351.828,260.69,362.359,280.547,362.359,309.023z M80.7,393.499V234.365 c11.241-1.904,27.042-3.346,49.296-3.346c22.491,0,38.527,4.308,49.291,12.928c10.292,8.131,17.215,21.534,17.215,37.328 c0,15.799-5.25,29.198-14.829,38.285c-12.442,11.728-30.865,16.996-52.407,16.996c-4.778,0-9.1-0.243-12.435-0.723v57.67H80.7 V393.499z M453.601,523.353H97.2V419.302h356.4V523.353z M484.898,262.127h-61.989v36.851h57.913v29.674h-57.913v64.848h-36.593 V232.216h98.582V262.127z"></path> </g> </g></svg>
            </a>
            <a href="/quote/download/{{ node.nid.value }}/mail" class="quote-actions--send">
              <svg fill="#000000" height="200px" width="200px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M23,15c-4.4,0-8,3.6-8,8s3.6,8,8,8s8-3.6,8-8S27.4,15,23,15z M26.7,23.8c-0.2,0.2-0.4,0.3-0.7,0.3c-0.3,0-0.5-0.1-0.7-0.3 L24,22.5V27c0,0.6-0.4,1-1,1s-1-0.4-1-1v-4.5l-1.3,1.3c-0.4,0.4-1,0.4-1.4,0c-0.4-0.4-0.4-1,0-1.4l3-3.1c0,0,0,0,0,0 c0.2-0.2,0.4-0.3,0.7-0.3s0.5,0.1,0.7,0.3c0,0,0,0,0,0l3,3.1C27.1,22.8,27.1,23.4,26.7,23.8z"></path> <path d="M13,23c0-1.4,0.3-2.8,0.9-4c-0.2,0-0.4-0.1-0.5-0.2l-1.6-1.4l-5.1,4.4C6.5,21.9,6.2,22,6,22c-0.3,0-0.6-0.1-0.8-0.3 c-0.4-0.4-0.3-1,0.1-1.4l4.9-4.2l-4.9-4.2c-0.4-0.4-0.5-1-0.1-1.4c0.4-0.4,1-0.5,1.4-0.1l7.3,6.4l7.3-6.4c0.4-0.4,1-0.3,1.4,0.1 c0.4,0.4,0.3,1-0.1,1.4L21,13.2c0.6-0.1,1.3-0.2,2-0.2c1.4,0,2.8,0.3,4,0.8V9c0-1.7-1.3-3-3-3H4C2.3,6,1,7.3,1,9v14c0,1.7,1.3,3,3,3 h9.5C13.2,25.1,13,24,13,23z"></path> </g></svg>
            </a>
        {% endif %}
        {% if node.moderation_state.value == 'published' %}
            <a href="/quote/purchase-order/{{ node.nid.value }}" title="Generar órdenes de compra" target="_blank" class="quote-actions--pdf">
              <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.001 32.001" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M9.26,6.904h14.687v1.753h1.973V6.346c0-0.781-0.633-1.415-1.415-1.415H8.702c-0.781,0-1.415,0.633-1.415,1.415V27.15 c0,0.681,0.552,1.231,1.232,1.231h3.7V26.41H9.26V6.904z"></path> <path d="M10.938,10.412c0,0.539,0.438,0.984,0.979,0.984h0.303v-1.97h-0.303C11.375,9.426,10.938,9.871,10.938,10.412z"></path> <path d="M10.938,14.521c0,0.539,0.438,0.93,0.979,0.93h0.303V13.59h-0.303C11.375,13.59,10.938,13.98,10.938,14.521z"></path> <path d="M10.938,18.631c0,0.539,0.438,0.986,0.979,0.986h0.303v-1.973h-0.303C11.375,17.645,10.938,18.09,10.938,18.631z"></path> <path d="M10.938,22.686c0,0.539,0.438,0.986,0.979,0.986h0.303v-1.973h-0.303C11.375,21.699,10.938,22.145,10.938,22.686z"></path> <path d="M2.904,1.973h14.685v1.753h1.973V1.415C19.562,0.633,18.927,0,18.146,0H2.163c-0.68,0-1.232,0.552-1.232,1.232v20.987 c0,0.682,0.552,1.232,1.232,1.232h3.701v-1.973h-2.96V1.973z"></path> <path d="M4.583,5.48c0,0.539,0.438,0.986,0.978,0.986h0.304V4.494H5.56C5.021,4.494,4.583,4.939,4.583,5.48z"></path> <path d="M4.583,9.59c0,0.539,0.438,0.932,0.978,0.932h0.304V8.658H5.56C5.021,8.658,4.583,9.049,4.583,9.59z"></path> <path d="M4.583,13.699c0,0.539,0.438,0.986,0.978,0.986h0.304v-1.973H5.56C5.021,12.713,4.583,13.158,4.583,13.699z"></path> <path d="M4.583,17.754c0,0.539,0.438,0.986,0.978,0.986h0.304v-1.973H5.56C5.021,16.768,4.583,17.213,4.583,17.754z"></path> <path d="M26.507,11.279c-0.625-0.626-1.473-0.978-2.357-0.978h-8.873c-0.781,0-1.415,0.633-1.415,1.415v18.87 c0,0.781,0.633,1.415,1.415,1.415h14.376c0.781,0,1.416-0.634,1.416-1.415V17.229c0-0.884-0.351-1.73-0.975-2.354L26.507,11.279z M26.246,13.773v0.006l1.271,1.258l-1.271-0.002V13.773z M29.096,16.992v13.035h-13.26V12.273h8.478l-0.012,3.333 c-0.001,0.366,0.145,0.717,0.4,0.976c0.259,0.259,0.609,0.405,0.976,0.406L29.096,16.992z"></path> <path d="M18.174,16.438h2.711c0.54,0,0.978-0.445,0.978-0.986c0-0.539-0.438-0.984-0.978-0.984h-2.711 c-0.54,0-0.978,0.445-0.978,0.984C17.197,15.992,17.634,16.438,18.174,16.438z"></path> <path d="M26.814,18.191h-8.64c-0.54,0-0.978,0.447-0.978,0.985c0,0.541,0.438,0.986,0.978,0.986h8.64 c0.541,0,0.979-0.445,0.979-0.986C27.792,18.639,27.355,18.191,26.814,18.191z"></path> <path d="M26.814,21.918h-8.64c-0.54,0-0.978,0.447-0.978,0.986s0.438,0.986,0.978,0.986h8.64c0.541,0,0.979-0.447,0.979-0.986 S27.355,21.918,26.814,21.918z"></path> <path d="M26.814,25.645h-8.64c-0.54,0-0.978,0.445-0.978,0.986c0,0.539,0.438,0.984,0.978,0.984h8.64 c0.541,0,0.979-0.445,0.979-0.984C27.792,26.09,27.355,25.645,26.814,25.645z"></path> </g> </g> </g></svg>
            </a>
        {% endif %}
      </div>
      <h1>COTIZACIÓN  / interna</h1>
      <p class="quote-header--number">No. {{ node.nid.value }}</p>
    </div>
    <p>Fecha   : {{ node.changed.value|format_date('short') }}</p>
    <p>Cliente : {{ node.field_customer.entity.title.value }}</p>
    {% if node.field_products %}
      <table>
        <thead>
          <tr>
            <th><h3>Detalle</h3></th>
            <th><h3>Empresa</h3></th>
            <th><h3>Cantidad/Unidad</h3></th>
            <th><h3>Precio</h3></th>
          </tr>
        </thead>
        <tbody>
          {% for paragraph in node.field_products %}
            <tr>
              <td>
                <b>{{ paragraph.entity.field_product.entity.title.value }}</b>
                <br>
                {{ paragraph.entity.field_product.entity.field_description.value }}
              </td>
              <td>
                {{ paragraph.entity.field_company.entity.name.value }}
              </td>
              <td>
                {{ paragraph.entity.field_cant.value }} / {{ paragraph.entity.field_product.entity.field_unit.entity.name.value }}
              </td>
              <td>
                {{ paragraph.entity.field_product.entity.field_unit_cost.value|number_format }}
              </td>
            </tr>
          {% endfor %}    
        </tbody>
      </table>
    {% endif %}
    
    {#{ content }#}
  </div>
    
</article>
