<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Cotización</title>
		<style>
			@page {
				margin: 100px 0;
				font-family: DejaVu Sans, sans-serif;
				font-size: 12px;
			}
			/*
    html, body {
      margin:0 !important;
      padding:0 !important;
      height:100% !important;
      width:95% !important;
      font-family: DejaVu Sans, sans-serif;
      font-size: 12px;
      mso-line-height-rule:exactly;
    }*/

			header {
				position: fixed;
				top: -100px;
				left: 0;
				text-align: center;
				height: 300px;
				width: 100%
			}

			table td {
				padding: 0 5px;
			}

			.logo img {
				width: 100%;
			}

			content {
				display: flex;
				justify-content: center;
				align-item: top;
				width: 95%;
			}

			content > div {
				margin-left: 30px;
				margin-top: 150px;
			}

			.title-section {
				text-align: left;
				padding: 20px;
				max-width: 243px;
			}

			.title-section h1 {
				font-size: 28px;
				font-weight: bold;
				margin: 0;
			}

			.title-section .number {
				font-size: 14px;
				font-weight: bold;
			}

			.meta {
				padding: 0 20px 20px;
				font-size: 12px;
			}

			.table {
				width: 100%;
				border-collapse: collapse;
				page-break-inside: auto;
			}

			.table tr {
				page-break-inside: avoid;
				page-break-after: auto;
			}

			.table th,
			.table td {
				padding: 8px;
				vertical-align: top;
			}

			.table th {
				background: #f3f3f3;
				text-align: center;
				font-weight: bold;
				font-size: 15px;
			}

			.item-title {
				font-weight: bold;
				margin-bottom: 4px;
			}

			footer {
				position: fixed;
				bottom: -100px;
				left: 0;
				width: 100%;
				border-top: 1px solid #ccc;
				font-size: 12px;
				color: #666;
				background: #1a1a1a;
				color: #fff;
				padding: 15px 20px;
				font-size: 11px;
			}

			.total-row tr {
				padding: 0 10px;
			}

			.total-row td {
				font-weight: bold;
			}

			.highlight {
				color: #fdd000;
			}

			.page-number:before {
				content: counter(page);
			}
		</style>
	</head>
	<body>

		<!-- Encabezado -->
		<header class="header">
			<div class="logo">
				<img src="{{ data.base64Logo }}" alt="Logo">
			</div>
		</header>

		<content>
			<div>
				<!-- Título de cotización -->
				<div class="title-section">
					<h1>COTIZACIÓN</h1>
					<div class="number">No.
						{{ data.nid }}</div>
				</div>

				<!-- Datos cliente -->
				<div class="meta">

					<table style="border:0;">
						<tr>
							<td>Fecha:
								<br>{{ data.date }}</td>
							<td>Cliente:
								<br><strong>{{ data.client.name }}</strong>
							</td>
							<td>Teléfono:
								<br><strong>{{ data.client.phone }}</strong>
							</td>
							<td>Email:
								<br><strong>{{ data.client.email }}</strong>
							</td>
							<td>Moneda:
								<br><strong>{{ data.client.currency }}</strong>
							</td>
						</tr>
					</table>
				</div>

				<!-- Tabla de productos -->
				<table class="table" style="border:0px;">
					<thead>
						<tr>
							<th style="width:5%;text-align:center">Item</th>
							<th style="width:10%;text-align:left">Parte No.</th>
							<th style="width:45%;text-align:left">{{data.th.detail}}</th>
							<th style="width:8%">Cant. Unidad</th>
							<th style="width:12%">Vr Unit.</th>
							<th style="width:20%">Vr Total</th>
						</tr>
					</thead>
					<tbody style="border-bottom: 2px solid #000;margin-bottom:10px;">
						{% for item in data.items %}
							<tr style="border-top:solid 1px #ddd;">
								<td style="border-right:solid 1px #ddd;text-aling:center;">
									{{ loop.index }}
								</td>
								<td style="border-right:solid 1px #ddd;">
									{{ item.part }}
								</td>
								<td style="border-right:solid 1px #ddd;">
									<div class="item-title">{{ item.title }}</div>
									<div>{{ item.description }}</div>
								</td>
								<td style="text-align:center; border-right:solid 1px #ddd;">{{ item.cant }}
									/
									{{ item.unit }}</td>
								<td style="text-align:right; border-right:solid 1px #ddd;">{{ (item.price * data.node.trm)|number_format(2, ',', '.') }}</td>
								<td style="text-align:right;">{{ ( item.price_total * data.node.trm )|number_format(2, ',', '.') }}</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot style="font-size:12px;">

						<tr class="total-row">
							<td>Validez:
								<br>{{ data.node.valid }}</td>
							<td>Incoterm:
								<br><strong>{{ data.node.incoterm }}</strong>
							</td>
							<td>TRM:
								<br><strong>{{ data.node.trm }}</strong>
							</td>
							<td colspan="2">SUBTOTAL</td>
							<td style="text-align:right;">{{ ( data.subtotal * data.node.trm )|number_format(2, ',', '.') }}</td>
						</tr>
						<tr class="total-row">
							<td colspan="3"></td>
							<td colspan="2">IMPUESTOS ({{ data.node.tax|number_format(0) }}%)</td>
							<td style="text-align:right;">{{ ( data.tax_total * data.node.trm )|number_format(2, ',', '.') }}</td>
						</tr>
						<tr class="total-row">
							<td colspan="3"></td>
							<td colspan="2">TOTAL</td>
							<td style="text-align:right;">{{ ( data.total * data.node.trm )|number_format(2, ',', '.') }}</td>
						</tr>
						{% if data.node.observation %}
							<tr>
								<td colspan="4">Observaciones:
									<br>{{ data.node.observation }}</td>
							</tr>
						{% endif %}
					</tfoot>
				</table>
			</div>

		</content>


		<!-- Footer -->
		<footer>
			<div class="footer">
				<div class="left">
					Cra 44 #20-30 Bogotá - Colombia
				</div>
				<div class="right">
					<span class="highlight">correo@provetecmar.com</span><br>
					<span class="highlight">+57 320 256 3263</span>
				</div>
			</div>
		</footer>

	</body>
</html>
